:root {
  --main: rgba(0, 92, 169, 0.9);
  --orange: #f68712;
}

* {
  margin: 0 !important;
  box-sizing: border-box;
  font-family: "Didact Gothic", sans-serif !important;
  text-transform: uppercase;
}

body {
  background-color: var(--main);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

header img {
  width: 500px;
}

main {
  padding: 0 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.carousel {
  margin: 0 !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  width: 35%;
  margin: 2rem 0 !important;
}

button {
  width: 100% !important;
  margin: 0.5rem 0 !important;
}

h5 {
  margin-bottom: 1rem !important;
}

h4 {
  margin: 0 !important;
  font-weight: bold;
}

h2 {
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px var(--orange);
  margin: 1rem 0 0 0 !important;
}

.products-contact,
.posts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2rem !important;
}

.posts {
  margin: 0 !important;
}

.products-contact h5 {
  font-weight: bold;
  padding: 0.5rem;
  background-color: aliceblue;
  border-radius: 50px;
  color: var(--main);
}

.products-contact div {
  width: 40%;
}

.posts img {
  width: 40%;
  border-radius: 5px;
}

.products-contact img {
  width: 100%;
  border-radius: 5px;
}

.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem !important;
}

footer {
  text-align: center;
  position: relative;
  padding: 1rem;
  margin-top: 2rem !important;
  background-color: var(--orange);
}

footer p {
  font-size: 0.8rem;
}

#selo {
  width: 100px;
  position: absolute;
  top: -50px;
  right: 1rem;
}

@media (max-width: 1200px) {
  .social {
    width: 60%;
  }

  header img {
    width: 90%;
  }

  .products-contact,
  .posts {
    flex-direction: column;
    align-items: center;
    margin-top: 0 !important;
  }

  .products-contact div {
    width: 100%;
    margin-top: 2rem !important;
  }

  .posts img {
    width: 100%;
  }

  .posts img:first-child {
    margin-bottom: 2rem !important;
  }
}

@media (max-width: 720px) {
  .social {
    width: 95%;
  }
}
